
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--mainbody-text-color);
    background-color: var(--mainbody-bg-color);
    background-image: url('../../Assets/images/Backgrounds/spaace.jpg');
    opacity: var(--mainbody-opacity);
}
        body {
            background-color: #121212; /* Background color */
            color: gold; /* Gold text color */
            font-family: Arial, sans-serif; /* Font family */


        }
	.gold-text {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
            font-size: 24px; 
	}/* Font size */
        /* WebKit-based browsers */
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #1e1e1e;
			border: 1px outset #1a1a1a;
            border-radius: 4px;
        }

        ::-webkit-scrollbar-track {
            background-color: black;
        }
.sidebar {
    position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20.5%;
    background-image: url('images/blackleathertexture.jpg'); /* Corrected syntax */
    background-size: 93% 100%;
    border-right: 2px outset #333333; /* Soft gray border */
    z-index: 10; /* Adjust the z-index to make sure it's below the button */
}

.sidebarlogo {
    position: absolute;
    top: 20%; /* Center the logo vertically */
    left: 50%; /* Center the logo horizontally */
    transform: translate(-50%, -50%);
    width: 160px; /* Adjust logo width as needed */
    height: 160px; /* Adjust logo height as needed */
    background-image: url('images/mainsuslogo.png');
    background-size: contain;
    background-repeat: no-repeat;
	border: 1px ridge #cd7f32;
	border-radius: 12px;
	padding: 10px;
    opacity: 0.8; /* Adjust opacity as needed */
    z-index: 11; /* Place the logo above the sidebar content */
}

.sidebar-button-container {
    display: flex;
	background-color: #1a0a03;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto; /* Push the buttons to the bottom */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	padding: 6px;
	border: 1px inset #1a1a1a;
	width: 180px;
}

.sidebar a {
	color: grey;
	background-color: #1e1e1e;
    text-decoration: none;
	border: 1px outset #1a1a1a;
    padding: 10px 6px;
    display: flex;
	margin-top: 5px;
	width: 160px;
    justify-content: center;
}

.sidebar a:last-child {
    margin-bottom: 6px; /* Remove border from the last button */
}

.sidebar a:hover {
    background-color: #555;
}

.background {
    margin-left: 10px; /* Adjust this value based on the sidebar width */
    padding: 2px;
    border: 1px solid #333333; /* Add a 1px border with color #333333 */
 /* Set the height to 100% of the viewport height */

}
/* ... (other CSS rules) ... */

.content {
    margin-left: 22%;
    margin-right: 4px;
    margin-top: 8px;
    padding: 2px;
    color: gold;
    height: 100vh;
    width: 78%; /* Adjusted width to account for the sidebar width */
    background-color: #1e1e1e;
    position: relative; /* Add relative positioning */
	border: 1px inset #1a0a03;
    right: 0;
	overflow: auto;
}




/*
------------------------------------------------------------ 
                      ...MAIN BODY... 

------------------------------------------------------------
*/
/*-----------------------------------*/
.main-container {
    display: flex;
    justify-content: flex-start; /* Align items with space between them */
    align-items: flex-start;
	max-height: 412px;
    margin-left: 12px;
    margin-right: 5%;
    margin-top: 8px;
    padding: 2px;
    height: 100vh;
    background-color: #1a0a03;
	border: 1px outset #1a1a1a;
	border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 6;
}

.mainslideshow {
    margin: 5px;
    width: 510px;
    height: 382.5px;
    background-image: url('images/Mainslide/eu-sus-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px inset #1a1a1a;
    border-radius: 10px;
    opacity: 0.9;
}

.welcome-textbox {
	min-width: 40%;
	max-width: 40%;
	min-height: 360px;
	max-height: 360px;
    border-radius: 4px;
	color: grey;
	background-color: black;
    font-size: 16px;
	font-family: roboto;
    padding: 12px;
    margin: 5px;
    border: 1px inset #1a1a1a; /* Add border style */
	border-radius: 10px;
    display: flex; /* Use flexbox layout to arrange elements */
    align-items: flex-start; /* Align content at the top */
    flex-direction: column;
	opacity: 0.9;
}

.welcome-header {
	margin: 2px;
	min-width: 95%;
	max-width: 95%;
	min-height: 52px;
	max-height: 52px;
	background-image: url('images/Mainslide/suswelcomeheader-textimage.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #cd7f32;
	border-radius: 4px;
	padding: 4px;
	opacity: 0.7;
}

.join-header {
	margin: 2px;
	min-width: 95%;
	max-width: 95%;
	min-height: 52px;
	max-height: 52px;
	background-image: url('images/Mainslide/jointheservicetext.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #cd7f32;
	border-radius: 4px;
	padding: 4px;
	opacity: 0.7;
}

.events-header {
	margin: 2px;
	min-width: 95%;
	max-width: 95%;
	min-height: 52px;
	max-height: 52px;
	background-image: url('images/Mainslide/suseventstext.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #cd7f32;
	border-radius: 4px;
	padding: 4px;
	opacity: 0.7;
}

.footer-container {
    display: flex;
    flex-direction: row; /* Arrange elements in a column */
	justify-content: flex-start;
    align-items: flex-start; /* Align items at the start of the column */
    margin-top: 20px; /* Adjust margin as needed */
	margin-left: 7px;
	min-width: 93.5%;
    max-width: 93.5%;
    max-height: 185px;
	padding: 4px;
	background-color: #1a0a03;
	border: 1px outset #1a1a1a;
	border-radius: 10px;
}




.welcome-footerbox {
	flex: 1;
	line-height: 1;
    min-width: 50%;
    max-width: 50%;
    min-height: 50px;
    max-height: 150px;
	object-fit: contain;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
    margin: 10px 25px 25px 25px; /* Center horizontally and add 6px top margin */
    border: 1px inset #1e1e1e; /* Add border style */
	border-right: 0px;
    display: flex; /* Use flexbox layout to arrange elements */
    align-items: flex-start; /* Align content at the top */
    flex-direction: column;
	background-color: #1e1e1e;
	color: grey;
	overflow: auto;
}

.footervideo {
    flex: 2;
    line-height: 1;
    max-width: 32%;
    height: 150px; /* Set the height to a fixed value */
    border-radius: 4px;
    padding: 5px;
    margin: 10px 25px 25px 25px;
    border: 1px outset #1e1e1e;
    border-right: 0px;
    border-radius: 10px; /* Fixed the border-radius value */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: grey;
    background-color: #1e1e1e;
    overflow: auto;
}

.footervideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 10px; /* Fixed the border-radius value */
}

/*
------------------------------------------------------------ 
------------------------------------------------------------ 

------------------------------------------------------------ 


------------------------------------------------------------ 
                      ...TERMINAL... 

------------------------------------------------------------
*/
.terminal-container {
    position: fixed;
    top: 30px;
    left: 255px;
    margin: 1px;
    padding: 0px;
	outline: 1px solid #333333;
    border-left: 20px solid #1f1f1f;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
	z-index: 8; /* Adjust the z-index to make sure it's below the button */
	opacity: 0.9;
	
}

.terminal {
    width: 300px;
	height: 110px;
    border: none;
    background-color: #121212;
    left: 255px;
    overflow: hidden;
    margin-top: 4px;
    padding: 2px 2px;
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange content in a column */
}

.terminaloutput {
	color: green;
	min-height: calc(95% - 30px);
    margin: 1.8px 0;
	margin-bottom: 18px;
    padding: 0px;
    scroll-behavior: auto; /* Scroll smoothly when new messages are added */
	font-weight: bold;
	overflow: auto;
}

.terminalinput {
    width: 306px;
    margin: 0;
    background-color: #121212;
    outline: none;
    color: green; /* Change the text color to green */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    border: 1px solid #333333; /* Add a border at the top of the input */
}
.terminalinput::placeholder {
    color: green; /* Change the placeholder text color to green */
}

.toggle-button {
    position: fixed;
    z-index: 1;
    width: 20px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    left: 20.5%; /* Position on the left side */
    top: 10%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    background: radial-gradient(circle, #666666 10%, #444444 40%, #333333 60%, #222222 90%); /* Silver and dark gray gradient */
    color: gold; /* Button text color */
    writing-mode: vertical-lr; /* Vertical text */
	font-size: 6;
    text-align: center;
	opacity: 0.4;
    padding: 1px;
    cursor: pointer;
	z-index: 9;
}

.thumbnail-container {
    position: relative; /* Needed for positioning the overlay */
    display: inline-block;
}

.thumbnail-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Add any other transitions you want */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: green;
	font: Impact;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3; /* Initially hidden */
    transition: opacity 0.3s ease; /* Fade-in effect */
    pointer-events: none; /* Prevent the overlay from blocking clicks on the image */
}

.thumbnail-container:hover .thumbnail-image {
    transform: scale(1.1); /* Apply scale effect on hover */
}

.thumbnail-container:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
	font-weight: bold;
	font-size: 36;
}


