
div#item-form {
    border: 1px ridge;
    display: flex;
    flex-wrap: wrap;
    border-color: #555555;
}
form#addItemForm {
    margin: 2px;
    margin-top: 0px;
    padding: 4px;
    padding-top: 0px;
    border: 3px ridge #464141;
    display: flex;
    flex-wrap: wrap;
    width: 29vw;
    justify-content: center;
    align-content: space-evenly;
}
div#sweatexchange-DB {
    overflow-y: scroll;
    margin: 5px;
    margin-left: auto;
    margin-top: 0px;
    padding: 2px;
    padding-top: 0px;
    height: 199px;
    width: 63vw;
    border: 3px inset dimgray;
}
div#exchangeItemDetailInputs {
    width: 123px;
    height: 97%;
    padding: 6px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    border: 2px ridge dimgray;
}
select#itemNameInput, input#itemNameTextInput {
    height: 30px;
	width: 100%;
}
select#planetSelect {
    height: 30px;
	width: 100%;
}
select#actionSelect {
	height: 100%;
}
#ttInput, #ttmaxInput, #amountInput {
  width: 65px; /* Set your desired width here */
  text-align: left;
}

#sweatpriceInput {
  width: 105px; /* Set your desired width here */
  text-align: left;
  color: #d0982ce8;
}
#pedpriceInput {
  width: 105px; /* Set your desired width here */
  text-align: left;
  color: #52d02ce8;
}
/* Base style for inputs inside the specified form and div */
form#addItemForm input[type="number"],
div#exchangeItemDetailInputs input[type="number"] {
    max-width: 85%;
    height: 8px;
    padding-left: 8px;
    color: #33bcf0;
    border-radius: 8px;
    outline: 3px solid #69696973;
    transition: 0.3s ease;
    font-weight: bold;
}

/* Hover effect */
form#addItemForm input[type="number"]:hover,
div#exchangeItemDetailInputs input[type="number"]:hover {
    height: 15px;
	outline: 5px Ridge #174e0c;
}
#itemformHeader {
	width: 100%;	
}