/* Default Theme Styles */
/* 
*/

/*----------------------*/
/* ROOT VARIABLES */
/*styletuner,Hud Overlay, thatthing,andthisother1 |*/
option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}
/* Root Variables */
:root {                                     /*-|*/
/*selected element and style current color*//*-|*/
	--fc-highlight-color: purple;
    --fc-event-text-color: red;
    --mainbody-bg-color: black;
    --mainbody-text-color: black;
    --mainbody-opacity: 1.0;
    --current-color: #fff;
    --textshadow: 1px -1px 0 #000,1px -1px 0 #000,-1px  1px 0 #0090,1px  1px 0 #000;
    --transition1: hue-rotate(-70deg);
    --filter-chill: hue-rotate(-70deg);
    --filter-rgb: hue-rotate(360deg);
    --filter-transition: filter 2.6s linear;
/*SCROLLBAR STYLE VARIABLES*/
    --scrollbar-bg-color: rgb(0,0, 0, 0.9);
    --scrollbar-border-color:rgba(45, 255, 10, 0.6);
    --scrollbar-thumb-bg-color: ;
    --scrollbar-thumb-border-color:rgba(38, 60, 150, 1);
    --scrollbar-thumb-border-style: solid;
    --scrollbar-thumb-border-radius: 15%;
/*----------------------------------|*/
/* STYLE GROUP - STATICPAGE    |*/
/*----------------------------------------|*/
  /*staticpage  styles*/
  --staticpage-border-width: 2px;
  --staticpage-border-style: outset;
  --staticpage-border-radius: 1px;
  --staticpage-border-color: #38567f69/*#38567f9c*/;
  --staticpage-bg-color: #0f252dc4/*#222*/;
  --staticpage-text-color: #555;
  --staticpage-opacity: 1.0;
/*---------------------------|*/
/*                           |*/
/*STATICPAGE panel styles*/
  --staticpage-panels-border-width: 3px;
  --staticpage-panels-border-style: outset;
  --staticpage-panels-border-radius: 8px;
  --staticpage-panels-border-color: #38567f9c;
  --staticpage-panels-bg-color: #171726;
  --staticpage-panels-headertext-color: #888;
  --staticpage-panels-text-color: #555;
  --staticpage-panels-opacity: 1.0;
/*STATICPAGE header/footer styles*/
  
  --staticpage-HFpanels-border-width: 2px;
  --staticpage-HFpanels-border-style: outset;
  --staticpage-HFpanels-border-radius: 8px;
  --staticpage-HFpanels-border-color: #38567f9c;
  --staticpage-HFpanels-bg-color: #0c1c2c;
  --staticpage-HTitle-text-color: rgb(39, 75, 102, 1.0);
  --staticpage-HFpanels-text-color: #333;
  --staticpage-HFpanels-opacity: 0.9;

/*----------------------------------|*/
 /*STATICPAGE side panels styles*/
  --staticpage-sidepanels-border-width: 3px;
  --staticpage-sidepanels-border-style: outset;
  --staticpage-sidepanels-border-radius: 8px;
  --staticpage-sidepanels-border-color: #444;
  --staticpage-sidepanels-bg-color: #222;
  --staticpage-sidepanels-text-color: #555;
  --staticpage-sidepanels-opacity: 0.9;
/*STATICPAGE main content styles*/
  
  --staticpage-maincontent-border-width: 2px;
  --staticpage-maincontent-border-style: outset;
  --staticpage-maincontent-border-radius: 8px;
  --staticpage-maincontent-border-color: #4444443d;
  --staticpage-maincontent-text-color: #333;
  --staticpage-maincontent-bg-color: #12273a29/*#222*/;
  --staticpage-inner-bg-color: #222;
  --staticpage-maincontent-opacity: 0.9;
/*----------------------------------|*/
 /*STATICPAGE control panel styles*/
  --staticpage-controlpanel-border-width: 3px;
  --staticpage-controlpanel-border-style: outset;
  --staticpage-controlpanel-border-radius: 8px;
  --staticpage-controlpanel-border-color: #444;
  --staticpage-controlpanel-bg-color: rgb(26 24 24 / 100%);
  --staticpage-controlpanel-text-color: #555;
  --staticpage-controlpanel-opacity: 0.95;
 /*STATICPAGE contentpanelB styles*/
  --staticpage-contentpanel-border-width: 3px;
  --staticpage-contentpanel-border-style: outset;
  --staticpage-contentpanel-border-radius: 8px;
  --staticpage-contentpanel-border-color: #444;
  --staticpage-contentpanel-bg-color: #1111117a/*#111*/;
  --staticpage-contentpanel-text-color: #555;
  --staticpage-contentpanel-opacity: 0.9;
 /*STATICPAGE adpanel styles*/ 
  --staticpage-adpanel-border-width: 2px;
  --staticpage-adpanel-border-style: outset;
  --staticpage-adpanel-border-radius: 8px;
  --staticpage-adpanel-border-color: #53321842;
  --staticpage-adpanel-bg-color: #1a0a03;
  --staticpage-adpanel-text-color: #555;
  --staticpage-adpanel-opacity: 0.9;
/*----------------------------------------|*/

/*                 HUD                    |*/
  /*hudoverlay main styles*/           /*-|*/
/*------------------------------------|*/
/*main hud power = monitor*/
  --hudmonitor-opacity: 1.0;
/*hudoverlay*/
  --hudoverlay-border-width: 2px;
  --hudoverlay-border-style: outset;
  --hudoverlay-border-radius: 8px;
  --hudoverlay-border-color: rgb(23,130, 182, 0.8);
  --hudoverlay-border-fullcolor: rgb(23,130, 182, 1.0);
  --hudoverlay-text-color: rgb(23,130, 182, 0.8);
  --hudoverlay-bg-color: rgb(0,50, 255, 0.03);
  --hudoverlay-opacity: 0.9;
  
/*---------------------------------------------|*/
 /*HUD main styles*/                        /*-|*/
  --HUD-applet-border-color:rgb(23,130, 182, 0.8);
  --HUD-applet-Rborder-color:rgba(0, 208, 255, 0.1);
  --HUD-applet-innerborder-color:rgb (0, 208, 255, 0.5);
  --HUD-border-width: 3px;
  --HUD-border-style: outset;
  --HUD-border-radius: 8px;
  --HUD-border-color: rgb(23,130, 182, 0.8);
  --HUD-border-fullcolor: rgb(23,130, 182, 1.0);
  --HUD-active-border-color: rgba(0, 238, 255, 0.8);
  --HUD-text-color: rgb(23,130, 182, 1.0);
  --HUD-bg-color: rgb(0,140, 250, 0.2);
  --HUD-opacity: 0.9;
/*----------------|*/
/*hud primary variables*/
  /*HUD Windows styling*/
  --HUD-windows-bg-color: rgb(0,22, 44, 0.7);
/*--------------------|*/
  
  
  /*----------------|*/
/*primary*/

  --HUD-primary-button-bg-color: inherit;
  --HUD-primary-button-text-color: inherit;
  --HUD-Primary-border-color: inherit;
  --HUD-Primary-border-width: 3px;
  --HUD-Primary-border-style: outset;
  --HUD-Primary-border-radius: 8px;
  --HUD-Primary-text-color: inherit;
  --HUD-Primary-Headertext-color: rgb(23,130, 182, 0.8);
  --HUD-Primary-subtext-color: rgb(23,130, 182, 0.8);
/*---------------------------------------------|*/

/*----------------|*/
/*custom curser variables variables*/
  /*cursor paths*/

  --cursor000-image: url('../../assets/cursors/gif-box/eu-cursors/cursor_bukinsblade.png'), auto;
  --cursor00-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-00.gif'), auto;
  --cursor01-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-01.gif'), auto;
  --cursor02-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-02.gif'), auto;
  --cursor03-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-03.gif'), auto;
  --cursor04-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-04.gif'), auto;
  --editcursor-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-05.gif'), auto;
  --cursor06-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-06.gif')8 5, auto;/*8 5, auto*/
  --cursor07-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-07.gif'), auto;
  --cursor08-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-08.gif'), auto;
  --cursor09-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-09.gif'), auto;
  --inputcursor-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-09.gif'), auto;
  --cursor010-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-010.gif'), auto;
  --cursor011-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-011.gif'), auto;
  --cursor012-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-012.gif'), auto;
  --cursor013-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-013.gif'), auto;
  --cursor014-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-014.gif'), auto;
  --cursor015-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-015.gif'), auto;
  --cursor016-image: url('../../assets/cursors/gif-box/eu-cursors/cursor-016.gif'), auto;
  --cursorkey-image: url('../../assets/cursors/gif-box/eu-cursors/cursor_key.png')16 6, auto;
  --cursorcheck-image:url('../../assets/cursors/gif-box/eu-cursors/check-1.png')8 5, auto;
/*add more vars*/
  --newradiobutton2: #222;/*unused vars   /*-|*/
  --newradiobutton3: #333;
  --newradiobutton4: #222;

}
	/*Root OverRide VARIABLES*/
/* try them idk what they were for
	--fc-border-color: #1c6a7ad9;
	--fc-today-bg-color: #0346f41c;
*/
  

/*----------------------*/
/*      The Body        */
/*----------------------*/
body {
	max-width: 99.5vw;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--mainbody-text-color);
    background-color: var(--mainbody-bg-color);
    /*background-image: url('../../assets/images/bg/spaace.jpg');*/
   /*background-image: url('https://pixelb8/assets/images/bg/spaace.jpg');*/
    cursor: var(--cursor000-image);
    opacity: var(--mainbody-opacity);
}

/*
animated twinkly stars background styles
*/
    @keyframes move-background {
      from {
        transform: translate3d(0px, 0px, 0px);
      }
      to { 
        transform: translate3d(1000px, 0px, 0px);
      }
    }

    .background-container {
      background: black;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
	  z-index:-1;
    }

    .stars {
      background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
    }

    .twinkling {
      width: 10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      animation: move-background 140s linear infinite; /* Adjust animation duration for slower rotation */
    }

/*end of twinkly stars styles*/







/*----------------*/
/* WEBKIT STYLES  */
/*  [scollbar, scrollthumb,scrolltrack,] */
::-webkit-scrollbar {
		max-width: 6px;
    min-height: 6px;
    max-height: 6px;
    background-color:var(--scrollbar-bg-color);
    outline: 0px;
    border: 2px inset var(--scrollbar-border-color);
}
::-webkit-scrollbar-corner {background-color: var(--border-color);}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-thumb {
    color:;
    background-color: var(--scrollbar-thumb-bg-color);
    border: 1px solid var(--scrollbar-thumb-border-color);
    border-style: var(--scrollbar-thumb-border-style);
    border-radius: var(--scrollbar-thumb-border-radius);
}
/*____________________*/

/*____________________*/
/*---------------------------------*/
/*  MAIN BODY/ELEMENT/CLASS STYLES  */
/*----------------------*/
/*    Main Elements */
div {}
br {}
hr {}
ul {padding-inline-start: 10px;
    margin-block-start: 0em; }
ol {}
li {}
nav {}
header {}
footer {}
main {}
section {}
article {}
/*-------------------*/
/*___________________*/

/*___________________*/
/*=======================*//**/
/*    Form Elements      */
form {}
label {}
textarea {}
/*_____________________*/
     /*INPUTS*/
input {cursor: var(--cursor000-image);}
input[type="text"] {}
input[type="password"] {}
input[type="number"] {}
input[type="email"] {}
input[type="checkbox"] {}
input[type="radio"] {}
/* more input types */
input[type="date"] {}
input[type="time"] {}
input[type="datetime-local"] {}
input[type="month"] {}
input[type="week"] {}
input[type="file"] {}
input[type="range"] {}
input[type="color"] {}
input[type="search"] {}
input[type="tel"] {}
input[type="url"] {}
input[type="submit"] {}
input[type="reset"] {}
input[type="image"] {}
input[type="button"] {}
input[type="hidden"] {}
optgroup {}
option {}
fieldset {}
legend {}
datalist {}
/*--------------*/
/*Select Element*/
select {cursor: var(--cursor000-image);}
select option{}
select option:checked {}
select:focus option {}
/* Optgroups within the dropdown list */
select optgroup {}
/* Dropdown arrows*/
select::-ms-expand {}/* Internet Explorer */
select::-webkit-select-arrow {}/* WebKit browsers */
/* Select Scrollbar */
/* Only WebKit browsers */
select::-webkit-scrollbar {}
select::-webkit-scrollbar-thumb {}
/*----------------------*/
/*    Button Elements */
button {background-color:#444;cursor:var(--cursor000-image);}
button:hover {}
button:active {}
button:focus {}
button:disabled {}
button.disabled {
  opacity: 0.7; 
  cursor: not-allowed;
}
/* button classes  */
/*----------------*//*
/*groups*/
/*
-fixedbuttongroup1
-fixedbuttongroup2
-fixedbuttongroup3
-buttongroup1
-buttongroup2
-buttongroup3

-singlefixedbutton
-sliderbutton
-pressclickbutton
-toggleclickbutton
-switchbutton
-buttontype1
-buttontype2
-buttontype3
*/

/*----------------------*/
/*    Text Elements */

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {}
.themed-footer p {
    margin: 0px;
}
span {}
strong {}
em {} (emphasis)
blockquote {}
pre {} (preformatted text)
a {} (anchor)

/*----------------------*/
/*    Table Elements */

table {}
tr {} (table row)
td {} (table data)
th {} (table header)

/*----------------------*/
/*    Media Elements */
img {} (image)
audio {}
video {}
figure {}
figcaption {}

/*----------------------*/
/*    Misc Elements */

/* Interactive Elements */
details {}summary {}dialog {}menu {}menuitem {}
/* Other Elements */
iframe {}canvas {}svg {}blockquote {}cite {}abbr {} (abbreviation)address {}code {}small {}

/* START OF MAIN HTML STYLES*/


    /* Style the container div */
#netnav {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999;
}

#netnav button {
  margin-right: 10px;
}
#pageContainer {
  opacity: var(--staticpage-opacity);
  z-index: 1;
}

/*    STATIC PAGES  */
.staticPage {
  margin-top:50px;
  color: var(--staticpage-text-color);
  border-color: var(--staticpage-border-color);
  border-width: var(--staticpage-border-width);
  border-style: var(--staticpage-border-style);
  border-radius: var(--staticpage-border-radius);
  background-color: var(--staticpage-bg-color);
  opacity: var(--staticpage-opacity);
  z-index: 1;
}
.staticgamePage {
    color: var(--staticpage-text-color);
    border-color: var(--staticpage-border-color);
    border-width: var(--staticpage-border-width);
    border-style: var(--staticpage-border-style);
    opacity: var(--staticpage-opacity);
    z-index: 1;
    margin: auto;
    margin-top: 10px;
    width: 96vw;
    height: 95vh;
    border-radius: 10px;
}
/* STATICPAGE STYLES MAIN  */
/* Header Styles */
.staticpage-header {
  padding: 10px;
  text-align: center;
  text-shadow: 0px 0px 0.7px #fff;
  background-color: var(--staticpage-HFpanels-bg-color);
  color: var(--staticpage-HFpanels-text-color);
  border-color: var(--staticpage-HFpanels-border-color); 
  border-width: var(--staticpage-HFpanels-border-width);
  border-style: var(--staticpage-HFpanels-border-style);
  border-radius: var(--staticpage-HFpanels-border-radius);
}
.staticgamepage-header {
    padding: 10px;
    max-height: 54px;
    text-align: center;
    text-shadow: 0px 0px 0.7px #fff;
    background-color: var(--staticpage-HFpanels-bg-color);
    color: var(--staticpage-HFpanels-text-color);
    border-color: var(--staticpage-HFpanels-border-color);
    border-width: var(--staticpage-HFpanels-border-width);
    border-style: var(--staticpage-HFpanels-border-style);
    border-radius: var(--staticpage-HFpanels-border-radius);
}
.staticPage .title {
    font-family: 'Pixelify Sans';
    font-size: 45px;
    margin: 0;
    margin-bottom: -18px;
    color: var(--staticpage-HTitle-text-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);/* text-shadow: 1px 1px 4px rgba(10, 10, 10, 0.5); */
}
.staticgamePage .title {
    font-family: 'Pixelify Sans';
    font-size: 45px;
    margin: 0;
    margin-bottom: -18px;
    color: var(--staticpage-HTitle-text-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);/* text-shadow: 1px 1px 4px rgba(10, 10, 10, 0.5); */
}
.main-nav {
    text-align: left;

}
.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0px;
}
.main-nav li {
    margin: 08px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
.main-nav a {
    text-decoration: none;
    color: var(--staticpage-HFpanels-text-color);
}
/* New Main Content Styles*/
.main-content {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 4px;
  justify-content: space-between;
  color: var(--staticpage-maincontent-text-color);
  border-color: var(--staticpage-maincontent-border-color);
  border-width: var(--staticpage-maincontent-border-width);
  border-style: var(--staticpage-maincontent-border-style);
  border-radius: var(--staticpage-maincontent-border-radius);
  background-color: var(--staticpage-maincontent-bg-color);
  opacity: var(--staticpage-maincontent-opacity);
}
/* Panels Styles */
.panel {
    flex: 1;
    width: 150px; 
    min-width: 150px;
    max-width: 150px;
    color: var(--staticpage-panels-text-color);
    border-color: var(--staticpage-panels-border-color);
    border-width: var(--staticpage-panels-border-width);
    border-style: var(--staticpage-panels-border-style);
    border-radius: var(--staticpage-panels-border-radius);
    background-color: var(--staticpage-panels-bg-color);
    opacity: var(--staticpage-panels-opacity);
    padding: 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-panel {
  margin-right: 7px;margin-left:0px;
  padding:8px;
  color: var(--staticpage-sidepanels-text-color);
  border-color: var(--staticpage-sidepanels-border-color);
  border-width: var(--staticpage-sidepanels-border-width);
  border-style: var(--staticpage-sidepanels-border-style);
  border-radius: var(--staticpage-sidepanels-border-radius);
  background-color: var(--staticpage-sidepanels-bg-color);
  opacity: var(--staticpage-sidepanels-opacity);
}
.left-panel button.leftcheek {
	width:98%;min-width:98%;max-width:98%;
	margin:0px;
	padding:0px;
}
.right-panel {
  margin-top: 0px;
  margin-left: -8px;
  color: var(--staticpage-sidepanels-text-color);
  border-color: var(--staticpage-sidepanels-border-color);
  border-width: var(--staticpage-sidepanels-border-width);
  border-style: var(--staticpage-sidepanels-border-style);
  border-radius: var(--staticpage-sidepanels-border-radius);
  background-color: var(--staticpage-sidepanels-bg-color);
  opacity: var(--staticpage-sidepanels-opacity);
  padding: 5px;
    height: auto;
    min-height: ;
    max-height: 27vh;
	font-family: 'Pixelify Sans';
	box-shadow: -2px 2px 7px rgb(9 9 9 / 87%);
	overflow: hidden;
}
.right-panel p {
    margin: 0;
	line-height: 0.8;
}
#websiteStatContainer p {
	font-size: 11px;
    line-height: 0.8;
    margin-bottom: 1px;
    color: #34d21385;
    font-weight: bold;
}

#websiteStatContainer {
    margin-bottom: 4px;
    border: inherit;
    border-style: ridge;
	background-color:#000;
}
#websiteStatContainer#sitestats h2 {
	margin:auto;
	text-align:center;
}
div#userInfoContainer {
    display: flex;
	background-color: var(--staticpage-panels-bg-color);
    border: 2px ridge #444;
    height: 75px;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}


div#userInfoContainer ul {
    padding-top: 6px;
    margin-block-end: 0em;
    font-family: 'Pixelify Sans';
    font-size: 9px;
}
.content-panel {
    display: inline-flex;
    padding: 0px;
    max-width: -webkit-fill-available;
    height: 180px;
    margin-right: 12px;
    margin-left: 12px;
    justify-content: flex-end;
    color: var(--staticpage-contentpanel-text-color);
    border-color: #0313186b;
    border-radius: var(--staticpage-contentpanel-border-radius);
    background-color: transparent;
    box-shadow: -2px 2px 7px rgb(9 9 9 / 87%);
}

.eucontent-panel {
	position: absolute;
    display: inline-flex;
	flex-direction: column;
    padding: 0px;
    width: 481px;
    min-width: 228px;
    max-width: 80vw;
	min-height: 36px;
    height: 295px;
    top: 99px;
    left: 206px;
    margin-top: -15px;
    margin-bottom: -58px;
    margin-right: 12px;
    margin-left: 12px;
    justify-content: ;
    color: var(--staticpage-contentpanel-text-color);
    border-color: #0313186b;
    border-radius: var(--staticpage-contentpanel-border-radius);
    background-color: #252628;/*#231e1edb;*/
    box-shadow: -2px 2px 7px rgb(9 9 9 / 87%);
    z-index: 0;
	opacity: 0.8;
	overflow: hidden;
	resize: both;
}

.eucontent-panel:hover {
	opacity:1;
}
.staticwindowcontrolbar{
    font-family: Lucida Console;
    margin: 0px;
    padding: 1px;
    border-width: 1px;
	border-style: outset;
    border-color: var(--hudoverlay-border-color);
}
.staticxbutt{
	width: 25px;
    height: 24px;
    margin: 0px;
}
.butthuvred:hover{
    color: darkred;
    border-color: darkred;
}
button.xbutt:hover {
    color: darkred;
    border-color: darkred;
}
.eucontent-header{
	width: 100%;
	min-height:16px;
	height:16px;
	max-height: 16px;
    padding: 2px;
    padding-left: 2px;
    border: 2px outset #0cf;
	background-color: #0c1f397d;
    border-color: inherit;
    margin: auto;
    overflow: hidden;
    word-wrap: none;
}
.eucontent-header:hover{
	background-color: #1a457f7d;
}
.eucontent-interior{
	height: calc(100% - 52px);
    width: 99.6%;
    margin: auto;
    margin-top: 2px;
    border: 0px solid #333;
    overflow-y: auto;
    padding-right: 0px;
    padding-left: 4px;
}
button#sweatshop {
    height: 49px;
    width: 142px;
    font-size: 1.5em;
    margin: auto;
	color: #2b8ee27a;
    border-color: #104755d1;
    background-color: #0f487a42;
}
button#sweatshop:hover {
    color: #2b8ee2d9;
    border-color: #14728aed;
}
button#enterButt {
    height: 49px;
    width: 142px;
    font-size: 1.5em;
    margin: auto;
	color: #2b8ee27a;
    border-color: #104755d1;
    background-color: #0f487a42;
}
button#enterButt:hover {
    color: #2b8ee2d9;
    border-color: #14728aed;
}
div#main-content {
	margin-top: 2px;
    max-height: 179px;
    width: 0px;
	border: 4px outset #494d497a;
    border-left-width: 12px;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
	background: #212123;
    outline: 2px ridge #06202fa3;
    white-space: nowrap;
    transition: width 1.6s, border 1.6s, smooth;
}
div#main-content:hover {
    width: 300px;
	border-left-width:14px;
}
#main-content h2 {
    text-align: center;
    font-family: Yatra one;
    margin-block-start: 1px;
    margin-block-end: -16px;
    font-size: 1.3em;
	color:#145265;
}
#main-content p {
	text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 1px;
    font-family: 'Pixelify Sans';
    font-size: 14px;
}
.ad-panel {
	display: inline-flex;
    max-width: 28vw;
    min-width: 16vw;
    height: auto;
    min-height: 185px;
    margin: auto;
    margin-right: 12px;
    margin-left: auto;
    margin-bottom: 0px;
    color: var(--staticpage-adpanel-text-color);
    border-color: var(--staticpage-adpanel-border-color);
    border-width: var(--staticpage-adpanel-border-width);
    border-style: var(--staticpage-adpanel-border-style);
    border-radius: var(--staticpage-adpanel-border-radius);
    background-color: var(--staticpage-adpanel-bg-color);
    opacity: var(--staticpage-adpanel-opacity);
    padding: 8px;overflow:hidden;

}
#adpanelfix1 {
    max-width: 28vw;
    min-width: 17vw;
    width: 16vw;
    min-height: 223px;
    margin-right: auto;
    margin-left: 18px;
    z-index: -1;
}
.static-slideshowpromoter {
    margin: 5px;
    display: flex;
    flex: 1;
    width: 100%;
    height: unset;
    background-image: /* url(images/Mainslide/eu-sus-image.jpg) */;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px inset #1a1a1a;
    border-radius: 10px;
    opacity: 0.9;
}
    .static-slideshowpromoter img {
		position: absolute;
		width: auto;
		height: 100%;
		max-height: 16vw;
		max-width: 28vw;
		transition: opacity 1s ease-in-out;
		opacity: 0;
	}
    .static-slideshowpromoter img.active {
      opacity: 1;
    }
.static-videopanel{
    display: flex;
    flex: 2;
    line-height: 1;
    max-width: 100%;
    height: 150px;
    border-radius: 4px;
    padding: 5px;
    margin: 4px 4px 4px 4px;
    border: 1px outset #1e1e1e;
    border-right: 0px;
    border-radius: 10px;
    align-items: flex-start;
    flex-direction: column;
    color: grey;
    background-color: #1e1e1e;
    overflow: auto;
}
.panel-title {
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--staticpage-HFpanels-text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/*
	END OF WEBPORTAL CSS BLOCK
*/
/* ----------------------- */
.themed-main {
    width: 490px;
    max-width: 46vw;
    margin: auto;
	margin-top: 7px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: ;
    overflow-y: auto;
    /*height: 1000px;*/ /* the original height */
    height: 28vh;
    min-height:125px;max-height:500px;
    color: var(--staticpage-panels-text-color);
    background-color:var(--staticpage-inner-bg-color);
    border: 2px solid var(--staticpage-border-color);
    border-style: ridge;
    border-radius: var(--staticpage-border-radius);
    resize: none;
	opacity: 0.7;
}
.themed-main.landing {
	margin-left:0;
}
.themed-main h2 {
  margin: auto;
  color: var(--staticpage-HFpanels-text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#themed-welcome-title {
    position: absolute;
    margin: auto;
    color: var(--staticpage-HFpanels-text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    left: 32vw;
}
#themed-main-title{
    margin: auto;
	margin-top: -6px;
    color: var(--staticpage-HFpanels-text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 46vw;
}
#themed-update-title{
    margin: auto;
    color: var(--staticpage-HFpanels-text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 46vw;
}
#themed-update-title.landing {
    margin: auto;
    font-size: 19px;
    color: var(--staticpage-HFpanels-text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    background: #092438e3;
    padding: 4px;
    width: 543px;
    max-width: 45vw;
    left: 0vw;
    margin-top: -9px;
}
#expandaccpaneldiv.single-round-button {
    margin-right: auto;
    width: 16px;
    height: 16px;
}

button#Toggleaccpanelinternals-Button {
    padding: 0px;
    background-color: #101128f2;
    color: #ffffff;
    border: 1px outset grey;
    border-radius: 50%;
    cursor: var(--cursor06-image);
    transition: background-color 0.3s ease;
    filter: brightness(70%);
    overflow: hidden;
}

.featured-section {
	min-height: 32px;
    max-height: 140px;
    height: 32px;
    overflow: auto;
    margin-top: 4px;
    margin-bottom: -11px;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: var(--staticpage-panels-text-color);
    border-color: var(--staticpage-panels-border-color);
    border-width: var(--staticpage-panels-border-width);
    border-style: var(--staticpage-panels-border-style);
    border-radius: var(--staticpage-panels-border-radius);
    background-color: var(--staticpage-panels-bg-color);
    opacity: var(--staticpage-panels-opacity);
	transition:min-height 1.3s
}
.featured-section h2 {
  margin: auto;
  color: var(--staticpage-HFpanels-text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.featured-section:hover {
	min-height:140px;
	transition:min-height 1.3s;
}
.older-devnote {
    margin: 10px 0;
    padding: 10px;
    border: 1px outset #4c4c4c;border-radius: 5px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: var(--staticpage-panels-text-color);
    border-color: var(--staticpage-panels-border-color);
    border-width: var(--staticpage-panels-border-width);
    border-style: var(--staticpage-panels-border-style);
    border-radius: var(--staticpage-panels-border-radius);
    background-color: var(--staticpage-panels-bg-color);
    opacity: var(--staticpage-panels-opacity);
}
.older-devnote h3 {
  color: var(--staticpage-panels-headertext-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.themed-footer {
  padding: 3px;
  min-width: 33vw;
  width: fit-content;
  max-width: 50vw;
  text-align: center;
  color: var(--staticpage-HFpanels-text-color);
  background-color: var(--staticpage-HFpanels-bg-color);
  border-color: var(--staticpage-HFpanels-border-color); 
  border-width: var(--staticpage-HFpanels-border-width);
  border-style: var(--staticpage-HFpanels-border-style);
  border-radius: var(--staticpage-HFpanels-border-radius);
}/* Footer Styles */


/*---------------------------*/
/* END OF STATICPAGE MAIN STYLES
        for "mainpage"      */
/*__________________________*/

#characterFace {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  bottom: -7px;
  right: -4px;
  transform: translate(-50%, -50%);
}
/*----------------*/
 /* POWER BUTTON */
/*---------------*/
#powercheckbox {display: none;}
.powerswitch {
	position: fixed;
	right: 8px;
	top: 94px;
  width: 50px;
  height: 50px;
	background: linear-gradient(153deg, #2234AE, #191714);
  background-color: rgb(48, 48, 48);
  border-radius: 50%;
  z-index: 15;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px outset #4c4c4c;
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.powerswitch svg {width: 1.3em;}
.powerswitch svg path {fill: rgb(99, 99, 99);}
#powercheckbox:checked + .powerswitch {
  width: 48px;
  height: 48px;
  border: 1px solid #3aa8a6d6;
  background-color: rgb(146, 180, 184);
  transform: translateY(3px);
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 1px rgb(151, 243, 255), 0px 0px 14px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
	
}
#powercheckbox:checked + .powerswitch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));}
#powercheckbox:checked + .powerswitch svg path {
  fill: #0cf;}
/*---------------*/


/*--------------------------|*/
/*    ROOT TUNER/TYLE TUNER  */
/*--------------------------|*/
#ST-wrapper {
 position: fixed; top: 50px; left: -165px;z-index:15;width: 120px;
    height: ;max-width:120px;max-height:;transition:1.9s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
}
#styletuner {
	display: flex; flex-direction: column; opacity: 0.9;
	height: 18px; min-height: 18px;max-height: 18px;
	width: 123px; min-width: 123px; max-width: 123px;
	align-items: flex-end;
	padding: 12px;padding-top: 0px;
	font-weight: bold;
	color: #777; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	background-color: #222222;
	border: 2px outset black; border-radius: 8px;
	overflow: hidden;resize: both;
	    transition:  1.9s,height 0s, width 0s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
    transition-delay: 1.4s; /* Delay for other transitions */
}
#ST-wrapper:hover{
 top: 90px;left:8px;z-index:15;transition: 1.9s,height 0s, width 0s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
}
#ST-wrapper:hover > #styletuner{
	min-height:432px;
	min-width:120px;
    max-height: 475px;
	max-width: 660px;
    transition:  0.6s,height 0s, width 0s, min-height 2.9s, min-width 0.3s, max-height 1.9s, max-width 0.3s linear;
    transition-delay: 0.6s; /* Delay for other transitions */
}
#ST-wrapper:hover > #styletuner:hover {
	min-height:432px;
	min-width:212px;
    max-height: 475px;
	max-width: 660px;
	transition: 1.9s,height 0s, width 0s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
}

#styletuner:hover {
	min-height:432px;
	min-width:212px;
    max-height: 475px;
	max-width: 660px;
    transition: 1.9s,height 0s, width 0s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
}
#ST-currentcolorbox:hover ~ #styletuner{
    transition: 1.9s,height 0s, width 0s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
    transition-delay: 0s; /* No delay for min-width and max-width transitions */
}
.slider-container:hover ~ #styletuner{
	min-height:432px;
	min-width:212px;
    max-height: 475px;
	max-width: 660px;
    transition: 1.9s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
    transition-delay: 0s; /* No delay for min-width and max-width transitions */
}
#ST-colorPicker:hover + #styletuner{	
	min-height:432px;
	min-width:212px;
    max-height: 475px;
	max-width: 660px;
	transition:1.9s,height 0s, width 0s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear}
#ST-wrapper:not(:hover) {
	transition: 1.9s,height 0s, width 0s, min-height 2.9s, min-width 0.6s, max-height 1.9s, max-width 0.6s linear;
    transition-delay: 1.9s; /* Adjust the delay time as needed */
}
#styletuner:not(:hover) {
	transition: 1.9s,height 0s, width 0s, min-height 2.9s, min-width 1.4s, max-height 1.9s, max-width 1.9s linear;
    transition-delay: 0.9s; /* Adjust the delay time as needed */
}
#ST-wrapper:hover > #styletunernot(:hover){
	transition-delay: 1.5s;
}
/* Set max-height and height to 18px when neither #ST-wrapper nor #styletuner is hovered */

#ST-header {
	margin-left: -15px;margin-top: -5px;margin-right: auto; width: 100%;
}
#ST-headertext {
	display:flex;flex-direction: column;position: relative;z-index: 6;padding-left: 6px;background-color: #111;border: 2px outset #333;border-radius: 5px;
}
#ST-scrollbox {
	display: flex;flex-direction: row;flex-wrap: wrap;
	height: 83%;min-height: 65px;max-height: 83%;
	width: 98%; max-width: 98%;padding: 4px;
	margin-bottom: auto;overflow: hidden;overflow-y: auto;resize: vertical;
}
.ST-box {
  display: inline-block;
  border: 1px inset #444;
  min-width: max-content;
  padding: 3px;
}
#ST-scrollbox .ST-box {
  display: inline-block;
  border: 3px inset #b4b4b442;
  outline: 2px outset #444;
  min-width: 185px;
  max-width:47%;
  padding: 6px;
  white-space:wrap;
  
}
#ST-box {
  display: inline-block;
  width: max-content;
  padding: 3px;
}
.ST-box label, .ST-box #st-subheader{font-family:;font-size:16px;font-weight:;color:;border: 0px ridge #444;border-color:inherit;}
.ST-box H1, .ST-box H2{margin:auto;border:inherit;border-color:#444;}
.ST-box H1{
	font-family:;
	font-size:19px;
	font-weight:;
	color:;
	margin-left:0px;
	border: inherit;border-color:#444;
	border-bottom-width:3px;
}
.ST-box H2{font-family:;font-size:18px;font-weight:;color:;border: inherit;border-color:#444;border-top-width:3px;border-bottom-width:2px;}

/*Style TUner Label ID's*/
	/*ST-Mainbody Label ID's*/
#ST-MainBody-label{color:var(--mainbody-text-color);background:;background-color:var(--mainbody-bg-color);border-color:var(--); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}
#ST-scrollbars-label{color:var(--scrollbar-thumb-border-color);background:;background-color:var(--scrollbar-bg-color);border-color:var(--scrollbar-border-color);
}
	/*ST-HudOverlay Label ID's*/
#ST-HudOverlay-label{color:var(--HUD-text-color);background:;background-color:var(--hudoverlay-bg-color);border-color:var(--hudoverlay-border-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}
#ST-HudOverlaySecondary-label{color:--var(--HUD-text-color);background:;background-color:var(--HUD-bg-color);border-color:var(--HUD-applet-border-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}
	/*ST-StaticPage Label ID's*/
#ST-StaticPage-label{color:var(--staticpage-text-color);background:;background-color:var(--staticpage-bg-color);border-color:var(--staticpage-border-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}
#ST-StatcPage-HF-label{color:var(--staticpage-HFpanels-text-color);background:;background-color:var(--staticpage-HFpanels-bg-color);border-color:var(--staticpage-HFpanels-border-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}
#ST-StaticPage-MainContent-label{color:var(--staticpage-maincontent-text-color);background:;background-color:var(--staticpage-maincontent-bg-color);border-color:var(--staticpage-maincontent-border-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}
#ST-StaticPage-SidePanels-label{color:var(--staticpage-sidepanels-text-color);background:;background-color:var(--staticpage-sidepanels-bg-color);border-color:var(--staticpage-sidepanels-border-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}
#ST-StaticPage-InnerPanels-label{color:var(--staticpage-panels-headertext-color);background:;background-color:var(--staticpage-panels-bg-color);border-color:var(--staticpage-panels-border-color); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);}

#ST-currentcolorbox {
  display: flex;
  font-size: 14px;
  flex-direction: row;
  position: abolute;right: 22px;bottom: -22px;z-index: 5;
  color: #555;background-color: #222;border: 2px outset #222;border-radius: 5px;
  height: 22px; max-height: 22px;min-width:180px; width: 110px;
  padding-top: 2px;padding-left:3px;  padding-bottom: 5px;
  font-weight: bold;text-shadow: 2px 2px 3px #000;
  opacity: 0.9;
}
#ST-CurrentColor{
	padding-top: 4px;align-items: center;min-width: 65px;
}
#ST-CurrentColor span {
	font-size: 14px;background-color: #111;border: 1px inset black;font-weight: bold;text-shadow: 1px 1px 1px #fff;color: var(--current-color);
}
#ST-colorPicker {
	width: 17px;height: 17px;margin-right: -2px;border: 2px inset var(--current-color);border-radius: 50%;outline: 2px solid grey;background-color: var(--current-color);cursor: pointer;
}
#ST-colorPicker:hover {
	outline: 2px solid #2196f39e;}
/*SLIDER STYLES*/
.slider-container {
		position: absolute;
		left: 15px;
		bottom: 0;
    width: 150px;
    height: 16px;
    z-index: 10;
}
.slider-input {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(153deg, var(--current-color), #191714);
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--current-color);
    cursor: pointer;
    border: 2px solid black;
}
.slider-input::-moz-range-thumb {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--current-color);
    cursor: pointer;
}
.slider-label {
    position: relative;
    top: 20px;
    left: ;
    transform: translateX(-50%);
    color: #4c4c4c;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}
.STborder{
	border: 1px outset grey;
}
.STborder2{
	border: 2px inset grey;background-color: #111;
}




#media-player {
	position:absolute;
    width: 200px;
    margin: 0 auto;
	border: 3px ridge orange;
	z-index:4;
}
#video-container {
    display: block; /* Hide the video player by default */
	border: 3px ridge orange;
	z-index:4;
}
#audio-player {
    margin-bottom: 10px;
}
#controls button {
    margin-right: 10px;
    cursor: pointer;
}
#volume-control {
    width: 100px;
}
#progress-bar {
    width: 100%;
}

/* Modal styles */
#loginStatus{}
.logged-in{}
.logged-out{}
form#loginForm {
    height: 115px;
    overflow-y: auto;
    font-size: 10px;
    line-height: normal;
    font-family: lucida console;
    color: #0e7504;
    background-color: #1b1818a1;

}
.modal {
	position: fixed;
	font-size: 1.5vw;
	z-index: 1000;
    left: 256px;
    top: 134px;
	width: 45%;
	height: 29.5%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	white-space: nowrap;
	
}

.modal-dialog {
    position: relative;
    margin: 0.5% 0.1% auto;
    padding: 4px;
    max-width: 94%;
    height: 86%;
    border: 3px outset #007480b0;
    background-color: #1110348f;
}

.modal-content {
  color: #008dcdad;
  padding: 8px;
}
input#signup-username, input#signup-email, input#signup-password {
	color: #0b80e787;
    background-color: transparent;border-color: #07baff66;

}
input#signup-username:focus-visible, input#signup-email:focus-visible, input#signup-password:focus-visible {
	color: #0b80e7d6;
    background-color: #00ffff21;
    border-color: #69755d00;
    border-radius: 8px;
    outline-color: #12706ef5;
    outline-width: 1px;
    outline-offset: 1px;
    outline-style: ridge;
}
input#signup-username{
	margin-bottom:4px;
}
input#signup-email{
	margin-left:10px;
}
/* Close button styles */
.close {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 1em;
    cursor: pointer;
}
button.btn.btn-primary {
    margin-left: 122PX;
    margin-top: 7PX;
}
/* Style for modal trigger buttons (if needed) */
.modal-trigger {
  cursor: pointer;
}

/* Hide scroll bars on body when modal is open */
body.modal-open {
  overflow: hidden;
}

/*_____________________
    Custom Tool Tip
----------------------*/
.custom-tooltip {
	color:#777777db;/*if hudoverlay var is too bright use this*/
	/* color:var(--hudoverlay-text-color); */
    position: absolute;
    z-index: 999; /* Set a higher z-index value */
    background: linear-gradient(153deg, #1e2123, #121216eb);
    border: 2px outset #115f95;
	border-radius: 8px;
    padding: 10px;
    max-width: max-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.4;
    white-space: nowrap;
}
.custom-tooltip strong {
    color: #04b4fbad; /* Set your desired color */
}

.custom-tooltip.visible-tooltip {
    display: block;
}
/*_____________________
    Custom cursor
---------------------*/

.customcursor {

}
.customcursor:hover {
  }
/*.customcursor:hover {
  cursor:none;}*/
#cursorImage {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      background-size: cover;
      background-position: center;
      opacity: 0;
    }


#currentgifdiv {
    position: fixed;
    bottom: 0px;
    right: 4px;
    border: 1px inset grey;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-image: none;
    z-index: 99999999;
    opacity: 0.5;
}
#currentgifcursordiv {
    width: 32px;
    height: 32px;
    position: absolute;
    border: 1px solid transparent;
    z-index: 99999999;
    pointer-events: none;
    background-image: none;
    background-size: cover;
    transform: scale(1.3);
    transition: background-image 0.6s ease;
}

/*-----------
/* fontfaces */
/*----------------*/
/*
@font-face {
    font-family: 'Pixelify';
    src: url('../../assets/fonts/static/Pixelify_Sans/PixelifySans-Regular.ttf') format('truetype'),
         url('../../assets/fonts/static/Pixelify_Sans/PixelifySans-Bold.ttf') format('truetype'),
         url('../../assets/fonts/static/Pixelify_Sans/PixelifySans-Medium.ttf') format('truetype');,
 	 url('../../assets/fonts/static/Pixelify_Sans/PixelifySans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf') format('truetype'),
         url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Regular.woff') format('woff'),
         url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf') format('truetype'),
         url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Bold.woff') format('woff'),
         url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf') format('truetype'),
         url('../../assets/fonts/Pixelify_Sans/static/PixelifySans-Medium.woff') format('woff'),
         url('../../assets/fonts/Pixelify_Sans/PixelifySans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}*/
/*-----------
/* background classes 1 */
/*----------------*/
.transparent {
	background:transparent;
	background-color:;
}
.blackbg {
    background-color: rgb(21 22 30);
}
/*-----------
/* border classes 1 */
/*----------------*/
.bw1{border-width:1px;}
.bw2{border-width:2px;}
.bw3{border-width:3px;}
.border-none{border:unset;border-width: 0px;}
.border-test{border: 1px dotted #444;}
.border-testsmall{border: 1px inset #444;}
.border-testbig{border: 1px dotted #444;}
.BS-solid{border-style: solid;}
.BS-outset{border-style: outset;}
.BS-inset{border-style: inset;}
.BS-dashed{border-style: dashed;}
.BC-red{border-color: #6A1010;}
.BC-ora{border-color: #A04F0D;}
.BC-yel{border-color: yellow;}
.BC-pnk{border-color: #9D3E0C;}
.BC-grn{border-color: green;}
.BC-blu{border-color: blue;}
.BC-bblu{border-color: #0ef;}
.BC-whi{border-color: white;}
.BC-gre{border-color: grey;}
.BC-pur{border-color: purple;}
.BC-blk{border-color: black;}
/*-insetthin
/*-insetthick
/*-outsetthin
/*-outsetthick
/*-customborder1
/*-customborders2
/*-borderandshadow
/*-borderoutline

/*________________________________________________*/

/* IMPORTANT CLASSES */
/*________________________________________________|*/
/*important classes must go underneath what you intend to overwrite*/
/*
Button Classes

*/

/* OBJECT CLASSES */
.down-arrow-blue {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #00CCFF; /* Set color to #00CCFF */
  margin-left: 5px; /* Adjust the margin to create space between the label and the arrow */
  display: inline-block; /* Display the arrow inline with the label */
  vertical-align: middle; /* Align the arrow vertically with the label text */
}
.refreshstashtable {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  position: relative; /* Position arrow within a container */
  overflow: hidden; /* Hide overflow for the circle effect */
}

.refreshstashtable::before {
    content: 'R';
    font-family: ui-monospace;
    font-weight: normal;
    font-size: 15px;
    color: #0ff2ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 8px;
    height: 14px;
    border-top: 3px solid #00CCFF;
    border-right: 3px solid #00CCFF;
    border-bottom: 3px ridge #00ccff;
    border-left: 8px outset #00ccff;
    border-radius: 50% 50% 50% 45%;
    z-index: 1;
}

.refreshstashtable::after {
  content: ''; /* Create the circle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px; /* Adjust circle diameter */
  height: 20px; /* Adjust circle diameter */
  border: 2px solid #00CCFF; /* Set border color to #00CCFF */
  border-radius: 50%; /* Make the circle round */
  z-index: 0; /* Ensure circle is below the arrow */
}
.refreshstashtable:hover::before {
    transform: translate(-50%, -50%) rotate(720deg);
	color: #3ba812;
	font-size: 18px;
	font-weight: bold;
    transition: transform 1.9s, font-size 1.9s, font-weight 1.9s, color 1.9s;
	
}

#stashTable tr:hover, #WTStable tr:hover, #WTBtable tr:hover {
    background-color: #0c0707; /* Set the background color for the hovered row */
    color: #00f3ff; /* Set the text color for the hovered row */
	cursor: url('../../assets/images/icons/cursor_inspect1.png'), auto;
/* 	cursor: url(''), auto; */
}
/*______________________|*/
/*-----------
/* important classes 1 */
/*----------------*/

.Prominent {color:#0c3b0f;transition: 0.6s;}
.greytxt {color:#4c4c4c;transition: 0.6s;}
.boldtxt {font-weight: bold;transition: 0.6s;}
.bold{
  font-weight:bold;
}
.hoverbrighter:hover {color: #1d7d14;font-weight: ;transition: 0.6s;}
.hoverbrighter:hover p {
    color: #00bcd4;
    font-size: 13px;
    font-weight: bold;
    margin-bottom:;
}

/*important classes*/
.column{display: flex;flex-direction: column;}
.row{display: flex;flex-direction: row;}
.hidden{display: none;}
.fillheight{
  height:calc(90% - 2px);
}
.collapsed{height:0;transition:height 0.6s ease;}
.expanded{height:;transition:height 0.6s ease;}
.resizable{overflow: hidden;overflow-x: hidden;resize: both;}
.hoveffect1{transition: linear, 3.6s;}
.hoveffect1:hover{
	border-color:var(--HUD-active-border-color);
	filter:var(--transition1);
	background-color:inherit;
}

/*New Classes for transitions/filters*/
.filter-transition{
  transition:filter 2.6s 1.3s;
}
.filter-chill{
  filter: hue-rotate(-70deg);
}
.filter-rgb{
  filter: hue-rotate(360deg);
}
.nofilter{
  filter:unset;
}
#lockedinput  {
	cursor:var(--cursorkey-image)!important;
}
#lockedinput img {
		cursor:var(--cursorkey-image)!important;
}
#lockedinput img:hover {
		cursor:var(--cursorkey-image)!important;
}

img#profilephoto {
    height: 32px;
    width: 32px;
    border: 3px ridge #333;
    border-radius: 50%;
	opacity:0.6;
}
img#profilephoto:hover {
    height: 32px;
    width: 32px;
    border: 3px ridge #333;
    border-radius: 50%;
	opacity:0.8;
}

/* EU MAPS CSS */
.maprow {
    height: 615px;
}
.content-panel-eumaps {
	display: inline-flex;
    padding: 0px;
    min-width: 385px;
    min-height: 225px;
    width: 1005px;
    height: 618px;
    max-width: 1005px;
    max-height: 621px;
    margin: auto;
    margin-left: 12px;
    margin-top: 0px;/*-195px;*/
    justify-content: center;
    color: var(--staticpage-contentpanel-text-color);
    border-color: #0313186b;
    border-radius: var(--staticpage-contentpanel-border-radius);
    background-color: #272828;
    box-shadow: -2px 2px 7px rgb(9 9 9 / 87%);
    overflow: hidden;
	resize:both;
    z-index: 0;
	
}
div#mapimgwrapper {
	display: inline-flex;
    overflow: auto;
    min-width: max-content;
    min-height: max-content;
    margin: auto;
    border: inherit;
    border-style: ridge;
    align-items: flex-start;
    justify-content: space-between;
}
div#eumapspanel-Interior {
    display: inline-flex;
    overflow: hidden;
    width: 97%;
    height: 95%;
    margin: auto;
    margin-top: 23px;
    border: inherit;
    border-style: ridge;
    align-items: flex-start;
    justify-content: space-between;
	background-color: #1b3047;
}
#mapimgwrapper {
    position: relative; /* Ensure the wrapper is positioned relative */
}
#mapimage{
	margin:;
	position:;
	display:;
}
#tpmap-overlay, #mob-overlay, #landareas-overlay, #pvpzones-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the overlay is above the map image */
}
#landareas-overlay {
	z-index:2;
}
#mob-overlay{
	z-index:4;
}
#pvpzones-overlay{
	z-index:3;
}
.waypoint {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue; /* Change color as needed */
    border-radius: 50%;
    cursor: pointer;
	opacity: 35%;
	z-index: 9;
    transition: background-color 0.3s, opacity 0.3s, ease;
}

.waypoint-label {
    color: #00ff18;
    font-weight: bolder;
	/* text-shadow: 0px 0px 8px rgb(46 0 255); */
    text-shadow: 0px 0px 8px rgb(56 255 0);
    min-width: max-content;
    max-width: max-content;
    transition: color 0.3s, opacity 0.3s, ease;
}
.waypoint:hover {
    background-color: green; /* Change hover color as needed */
	color: blue;
	opacity: 60%;
}
.waypoint-label:hover {
    color: blue;
	text-shadow: 0px 0px 8px rgb(56 255 0);
	opacity: 100%;
}
.waypoint:hover .waypoint-label {
	color: blue;
	text-shadow: 0px 0px 8px rgb(56 255 0);
	opacity: 100%;
}
.draggable-map {
    position: absolute;
    z-index: 1; /* Adjust as needed */
    cursor: grab; /* Default cursor */
    /* Any other styles */
}

.draggable-map:active {
    cursor: grabbing; /* Cursor when dragging */
}

div#mapzoom-control-group {
    height: 55px;
    width: fit-content;
    padding-top: 0px;
    justify-content: space-between;
    border: 4px ridge;
    border-color: #393d43;
    margin-right: 15px;
    margin-top: 5px;
}
div#mapzoom-control-group Button {
	Border-radius:;
	font-size:bigger;
	font-weight:bold;
	height: 25px;
}
#eumapcontrols {
    position: fixed; 
    display: flex;
    border: 4px ridge #414849eb;
    border-radius: 22px;
    outline: 3px ridge #4c4e4ee3;
    background-color: #353639;
    height: 409px;
    width: 146px;
	margin-left: 12px;
    margin-right: 12px;
	/* bottom: -291px;  Hover Transition effect*/
	bottom: 0px;
    right: 8px;
    opacity: 0.85;
    padding: 0px;
    transition: 1.3s;
    flex-direction: column;
	z-index: 1;
}
#eumapcontrols:hover {
	bottom: 0px;
	
}


#eumapcontrols button {
    background-color: #444;
    outline: 2px solid #222;
    width: 29px;
    height: 20px;
    line-height: 0;
    padding: 2px;
    padding-bottom: 4px;
    font-size: 14px;
}
#eumapcontrols label {
    display: inline-flex;
    font-weight: bold;
    height: min-content;
}
button.globemenubutt {
    border-radius: 50%;
    width: 28px !important;
    height: 28px !important;
    padding: 0px;
    font-size: 22px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 1px;
}
div#divcontrollerpowerbutts {
    display: inline-flex;
    flex-direction: row;
    border: 2px ridge #222222;
    border-radius: 22px;
    padding: 3px;
    justify-content: right;
    align-content: end;
    flex-wrap: wrap;
}
button#modeButton {
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 8px;
}
button#globepowerbutt, button#modeButton {
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 0px;
}
button#globeinputbutt {
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
}
#rotationCheckbox {
    height: min-content;
}
#globecontrolButts {
    width: 100%;
    margin-left: 6px;
}

button#f5Button {
    width: 48px;
    margin-left: 4px;
}
button#undergroundmodeButton {
    font-size: small;
    width: 87px;
}
#globecontrolButts h2 {
    margin: 3px;
    margin-left: -7px;
    text-align: center;
    font-size: 14px;
    border-top: 2px ridge;
    border-radius: 11px;
    border-color: #232121;
}
h2#currenteumaplabel {
    position: absolute;
    margin-top: -3px;
    margin-left: 2px;
    font-size: 2.65vw;
    z-index: 2;
    color: var(--staticpage-HTitle-text-color);
}
button#eumaps-loggingspotsbutton {
	width: 128px;
}
button#eumaps-sweatareasbutton {
	width: 128px;
}
div#sliderbox-gloveLights {
    width: 120px;
    height: 75px;
    min-height: 20px;
    max-height: 30vh;
    border: 5px ridge #444;
    margin: auto;
    margin-top: 8px;
    margin-bottom: -6px;
    padding: 4px;
    overflow-y: scroll;
}
select.mapcontrolsSelect {
    font-weight: bold;
    width: 112px;
    background-color: var(--staticpage-HFpanels-bg-color) /*#1111118c*/;
    color: #932604;
    border-color: #932604;
}
#eumapcontrols input[type="range"] {
    -webkit-appearance: none;
    width: 95%;
    max-width: 75px;
    min-width: 30px;
    height: 12px;
    background: #03a9f4c4;
    border-radius: 5px;
    outline: none;
    margin-bottom: auto;
}
div#map-panel-controls {
	width: 170px;
    height: 200px;
    margin: auto;
    padding: 4px;
    padding-top: 7px;
    border: 3px outset #cd5c5ca3;
}
#mapcontrollerlabel {
	margin: -4px;
    text-align: center;
    font-size: 21px;
}