
div#item-form {
    border: 1px ridge;
    display: flex;
    flex-wrap: wrap;
    border-color: #555555;
}
form#addItemForm {
    margin: 2px;
    margin-top: 0px;
    padding: 2px;
    padding-top: 0px;
    border: 3px ridge #464141;
}
div#sweatexchange-DB {
    overflow-y: scroll;
    margin: 5px;
    margin-left: auto;
    margin-top: 0px;
    padding: 2px;
    padding-top: 0px;
    height: 199px;
    width: 63vw;
    border: 3px inset dimgray;
}
div#exchangeItemDetailInputs {
    width: 30vw;
}
#tt, #ttmax, #amount {
  width: 65px; /* Set your desired width here */
  text-align: left;
}

#sweatprice, #pedprice {
  width: 105px; /* Set your desired width here */
  text-align: left;
}
/* Base style for inputs inside the specified form and div */
form#addItemForm input[type="number"],
div#exchangeItemDetailInputs input[type="number"] {
    width: 95%;
    height: 8px;
	outline: 5px solid dimgray;
    transition: 0.3s ease; /* Smooth transition for the hover effect */
}

/* Hover effect */
form#addItemForm input[type="number"]:hover,
div#exchangeItemDetailInputs input[type="number"]:hover {
    height: 30px;
	outline: 5px solid #174e0c;
}
#itemformHeader {
	width: 100%;	
}