

div#item-form {
    border: 1px ridge;
    display: flex;
    flex-wrap: wrap;
    border-color: #555555;
}
form#addItemForm {
	margin: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-top: 0px;
    border: 3px ridge #464141;
    display: flex;
    flex-wrap: wrap;
    width: 29vw;
    justify-content: center;
    align-content: space-evenly;
}
div#sweatexchange-DB {
    overflow-y: scroll;
    margin: 0px;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px;
    padding-top: 0px;
    height: 199px;
    width: 63vw;
    border: 3px inset dimgray;
}
div#exchangeItemMainInputs {
    width: 98%;
    border: 6px outset #00d0ff63;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#exchangeItemDetailInputs {
	width: 98%;
    padding: 3px;
    margin: auto;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    border: 4px outset #176969;
}
select#itemNameInput {
    height: 20px;
	width: 99%;
	color: #FF9800;
    font-weight: bold;
}
input#itemNameTextInput {
    text-align: center;
	color: #FF9800;
    font-weight: bold;
	height: 20px;
    width: 96%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
	background: #000000;
}
select#planetSelect {
    height: 20px;
	width: 99%;
	
}
select#actionSelect {
	height: 18px;
	width: 99%;
	border: 2px solid #0d7a98fa;
}
#ttInput, #ttmaxInput, #amountInput {
  width: 65px; /* Set your desired width here */
  text-align: left;
  background: #000000;
}


/* Base style for inputs inside the specified form and div */
form#addItemForm input[type="number"],
div#exchangeItemDetailInputs input[type="number"] {
    height: 8px;
	width: 98%;
    padding-left: ;
    margin: auto;
    color: #33bcf0;
	background: #000000;
    border-radius: 8px;
    outline: 3px solid #69696973;
    transition: 0.3s ease;
    font-weight: bold;
}
input[type="text"], div#exchangeItemDetailInputs input[type="text"] {
    padding: 0px;
    margin: auto;
}
/* Hover effect */
form#addItemForm input[type="number"]:hover,
div#exchangeItemDetailInputs input[type="number"]:hover {
    height: 15px;
	outline: 5px Ridge #174e0c;
}
#itemformHeader {
	width: 100%;	
}
#sweatpriceInput {
  color: #d0982ce8;
}
#pedpriceInput {
  color: #52d02ce8;
}


#exchangeItemDetailInputs div {
	display: flex;
    width: 100%;
    border: 3px outset #063440c7;
}

#exchangeItemDetailInputs label {
    height: 20px;
    width: 91%;
    font-size: 14px;
    padding-left: 8px;
    text-align: center;
}

#exchangeItemDetailInputs button {
    width: 100%;
}