body {
  background-image: url("https://i.postimg.cc/br3g30GL/bg.jpg");
  background-position: center center;
  overflow: hidden;
  background-size: cover;

}
#stats-container{
  height:100%;
  width:100%;
}
.cssbody {
  background-position: center center;
  height:100vh;
  width:100vw;
}
#controls {
	border: 3px ridge #444;
	background-color: #333;
}

button {
	background-color:#444;
}
<style>
  /* Styling for sliders */
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #242433;
	border:4px outset #444;
    border-radius: 50%;
	outline:1px solid black;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Optional: style the labels for sliders */
  label {
    display: inline-flex;
    margin-bottom: 5px;
    font-weight: bold;
  }
  


  
  
  



.glow {
  --c: #0d5866;
  -webkit-appearance: none;
  -moz-appearance: none;
    appearance: none;
    background: #3b3b3b;
    cursor: pointer;
    width: auto;
}

.glow::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  background: #3b3b3b;
  box-shadow: 
    0 0 0.2em 0 hsl(0 0% 0%) inset, 
    -0.1em 0.1em 0.1em -0.1em hsl(0 0% 100% / 0.5),
    0 0 calc(1em + 0.001em * var(--val)) calc(0.1em + 0.00025em * var(--val)) var(--c)
    ;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.glow::-webkit-slider-runnable-track {
  box-shadow: 
    0 0 0.2em 0 hsl(0 0% 0%) inset, 
    -0.1em 0.1em 0.1em -0.1em hsl(0 0% 100% / 0.5);
  background: 
    linear-gradient(to bottom right, #1f1d1d11, #0000),
    #343133;
  border-radius: 8px;
  height: ;
}

/******** Firefox ********/
.glow::-moz-range-track {
  box-shadow: 0 0 2px 0 hsl(0 0% 0%) inset, -1px 1px 1px -1px hsl(0 0% 100% / 0.5);
  background: 
    linear-gradient(var(--c) 0 0) 0 0 / calc(var(--val) * 1%) 100% no-repeat,
    linear-gradient(to bottom right, #0001, #0000),
    #343133;
  border-radius: 8px;
  height: ;
}

fieldset {
	position:fixed;
	top:20%;
}