.eu-container {
	text-align: center;
	margin: 20px;
	margin-top: 8%;
}

.eu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.tool-card {
	color: #ac4915;
    background: rgba(20, 20, 20, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.2);
}

.tool-card.disabled {
	background: rgb(45 3 3 / 60%);
    opacity: 0.3;
}


.tool-card:hover {
    box-shadow: 0 0 15px cyan;
    transform: scale(1.05);
}
.tool-card.disabled:hover {
	opacity: 0.4;
    box-shadow: 0 0 15px red;
    transform: scale(1.05);
}

.tool-card i {
    font-size: 30px;
    color: cyan;
}

.tool-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #00ffff5e;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.tool-link:hover {
    background: #00ffffd6;
}