body {
  background-image: url("https://i.postimg.cc/br3g30GL/bg.jpg");
  background-position: center center;
  overflow: hidden;
  background-size: cover;
}
.cssbody {
  background-position: center center;

}