body{
	background-image: url('../assets/images/bg/rsc/rscwebsitelayout1.png');
	background-size: cover;
    background-repeat: no-repeat;

}
div#sitelayoutimage{
	min-width:100vw;
	min-height:100vh;
	background-image: url('../assets/images/bg/rsc/rscwebsitelayout1.png');
	background-size: cover;
    background-repeat: no-repeat;
}