


body {
	background-color: #143148;
	max-height: 100vh;
	overflow: hidden;
}

/* -- Text -- ------------- */

h1 {
	Color: white;
}

h2 {

}
/* --------------------------*/
h3 {
	margin: 0;

}
p {
    font-family: Arial, sans-serif;
    color: #414a4a;
}
/* --console <p> element (console messages and output items -- */


.text-terminaloutput {
	font-family: Lucida Console;
	color: green;
	font-size: 12px;
	line-height: 1;
	margin: 0;
	margin-left: 2px;
	padding-left: 4px;

}
/* ---- <input> console input --------------------------*/
input {

 }
::placeholder {
	font-family: "Lucida Console";
	color: green;
	opacity: 0.5; /*Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: green;
}
input#commandInput.terminalinput {
	position: absolute;
	font-family: "Lucida Console";
	font-weight: bold;
	bottom: 0px;
	height: 25px;
	width: calc(100% - 10px);
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
    background-color: #121212;
    outline: none;
    color: green;
    border: 1px solid #333333;

}
/*-------------end of text styling------------------*/
/*----------------------------------------*/
/*--------------main containers-----------*/
.bogus-container {
	display: flex;
	position: absolute;
	margin-left: 5%;
	width: 75%;
	height: 75%;
	border: 6px outset #3737375e;
	background-color: #303030;
	color: black;
	justify-content: center;
	align-items: center;

}
.bogus-interior {
	width: 95%;
	height: 95%;
	border: 3px inset #7a7a7aa6;
	background-color: #101621;
	color: black;
	text-align: center;
}
.bogus-header {
	border: 1px solid grey;
}
.bogus-body {
	align-content: center;
}
.boxtest {
	width: 100px;
	height: 100px;
	overflow: auto;
    resize: both;
    background: #EF476F;
  }
  &.horizontal {
  resize: horizontal;
    background: #FFD166;
}
  &.vertical {
    resize: vertical;
    background: #06D6A0;
  }
/* 
------------------------------
console container: 
------------------------------
  */

.terminal-container {
	position: absolute;
	bottom: -208px;
	margin: 1px;
	padding: 0px;
	border: 2px outset #45414d47;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	background-color: #454444;/*#1f1f1f;*/
	outline-width: 1px;
    outline-color: #000000c9;
    outline-style: solid;
	z-index: 8;
	opacity: 0.8;
	left: 265px;
	cursor: default;
	overflow: hidden;
	resize: both;
	min-height: 229px;
	min-width: 200px;
}
.ROW1{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 25px;
	min-height: 25px;
	min-width: 18px;
	margin: 0px;
	padding: 0px;
}
.ROW2{
	display: flex;
	flex-direction: column;
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
	min-height: 0;
	background-color: #1e1e1ef2;
	overflow: hidden;
	flex-grow: 1;
	padding-bottom: 28px;
	
}
/* 
------------------------------	
	terminal div :
------------------------------
 */
 
.window-header {
	display: flex;
	flex-direction: row;
	border: 0px outset #44495b8f;/*#807373;*/
	border-bottom: 2px solid #44495b8f;
	width: 100%;
	height: 100%;
	cursor: grab;
	margin: 0;
	color: #fff;/*#333333;*/
}
.window-buttonbar {
	display: flex;
	flex-direction: row;
	width: auto;
}
h3#windowheader {
	font-size: 14px;
	font-weight: bold;
	/*	text-shadow: h-offset v-offset blur-radius color;     */
	text-shadow: -1px -1px 0px black;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 6px;
	background-color: blue;
}
#toggle-terminal {
	background-color: transparent;
	color: gold;
	width: 20%;
}
.minimize-window-buttons, .maximize-window-buttons, .close-window-buttons {
	font-family: 'Lucinda Console';
	text-align: center;
	height: 5vh;
	width: 5vh;
	max-height: 100%;
	min-height: 18px;
	min-width: 18px;
	max-width: 25px;
	padding: 0;
	overflow: hidden;
}
#minimize-terminal {
	font-family: 'Impact';
	background-color: grey;
	font-size: 7px;
	font-weight: bold;
	color: white;


}

#maximize-terminal {
	background-color: grey;
	font-size: 13px;
	font-weight: bold;
	color: white;
	
}

#close-terminal {
	background-color: red;
	color: white;
	border: 1px outset #530000;
}
#terminal {
    color: gold;
    width: 99.2%;
	height: 98.2%;
    border: none;
    left: 255px;
    overflow: auto;
    margin: 0px;
	padding-bottom: 0px;
	padding-top: 2px;
    display: flex;
    flex-direction: column;
}
 
	
/* 
--------------------------------
console output container:
-------------------------------
  */
.output-container {
	display: flex;
	position: relative;
    color: green;
	margin: 0;
	margin-top: auto;
    padding: 0px;
	padding-top: 10px;
    font-weight: bold;
	flex-direction: column;
	
}
    /* WebKit-based browsers */
	::-webkit-scrollbar {
		display: none;
		width: 8px;
		opacity: 0.8;
	}
	::-webkit-scrollbar-thumb {
		background-color: #1e1e1ef2;
		border: 1px outset #1a1a1a;
		border-radius: 4px;
		opacity: 0.8;
	}
	::-webkit-scrollbar-track {
		background-color: black;
		
		
	}
