:root {
    --scrollbar-thumb-bg-color: #00b4d5ba; /* Background color of the scrollbar thumb */
    --scrollbar-thumb-border-color: #00b4d5ba; /* Border color of the scrollbar thumb */
    --scrollbar-thumb-border-style: solid; /* Border style of the scrollbar thumb */
    --scrollbar-thumb-border-radius: 4px; /* Border radius of the scrollbar thumb */
	--dropdown-menu-bg-color:rgb(4 12 35 / 94%);
	--dropdown-menu-text-color:#00b4d5ba;
	
}






.title[contenteditable="true"]::before {
    content: content;
    color: #999; /* Placeholder text color */
    font-style: italic; /* Italicize placeholder text */
}
.title[contenteditable="true"]:empty {
    content: attr(data-placeholder);
    color: #999; /* Placeholder text color */
    font-style: italic; /* Italicize placeholder text */
}

.title[contenteditable="true"]:empty::before {
    content: attr(data-placeholder);
    color: #999; /* Placeholder text color */
    font-style: italic; /* Italicize placeholder text */
}

/* Hide the placeholder when the element is focused */
.title[contenteditable="true"]:focus::before {
    content: ""; /* Hide the placeholder text when focused */
}

#hud-sus-snake{
	min-height: 422px;max-height:505px;
    min-width: 439px;max-width:575px;
}
.hudGameScreen {
  display: ;
  justify-content: center;
  align-items: center;
  height: ;
}

.GameMonitor{
	border: 3px inset #444; border-radius: 15px; width: 98%;padding:2px;padding-left: 2px;
}
#snakeCanvas{max-width:96%;margin:4px;margin-top:4px;}
#snakeCanvas{
	 border: 4px ridge var(--HUD-border-color);border-left-width:7px;border-top-style:ridge;border-left-style:ridge; width: 96%; background-color: black; padding:0px;padding-bottom:2px;
}
.container-holder {
    border: 1px outset grey;
    border-bottom: 2px outset grey;
    border-radius: 15px;
    padding: 12px;
    background: #1e1e1e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#hud-sus-snake a:-webkit-any-link {
    color: var(--HUD-text-color);

}
.displayhud-container {
    padding: 4px;
    margin-bottom: 2px;
    margin-left: 4%;
    border: 2px outset grey;
    border-radius: 15px;
    width: 90%;
    height: 75%;
    color: ;
    background: #1a0a03;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#speedIndicator{
    border: 2px outset grey;
    border-radius: 50%;
    padding: 3px;
    margin-left: 25px;
    margin-right: 2px;
    background: red;
    width: 10px;
    height: 10px;
}
.speed-gauge-container{
	display:flex;
	flex-direction:row;
}
#snakespeedText{
	margin-top: 5px; font-family: Arial, sans-serif; font-size: 14px; color: white;
}





#HudMap{
	opacity:1;
	visibility:hidden;
	display: flex;
    opacity: 0;
	border:0px dotted #444;position:fixed;top:170px;left:;z-index:999;
}
#HudMap:hover{
	opacity:;

}
#HudMap #map{
	position:;
    outline: none;
    top: 0;
    left: -100;
    resize: both;
	width: 508px;
    height: 344px;
	min-height: 185px;
    min-width: 236px;
	background-color: rgb(39 75 178 / 42%);
    border: 2px outset rgba(0, 180, 213, 0.73);
	border-radius:8px;
	-webkit-box-shadow: 0px 0px 17px 4px #2d5468a2; 
    box-shadow: 0px 0px 17px 4px #2d5468a2;
	opacity:0.8;
}

#HudMap .map_image {
	border:2px inset rgba(0, 180, 213, 0.73);
	border-radius:8px;
    -webkit-box-shadow: 0px 0px 17px 4px #0b2431de; 
    box-shadow: 0px 0px 17px 4px #0b2431de;
    opacity: 0;
    transition: opacity 1s;
}
#HudMap .map_image.show {
    opacity: 0;
}
#HudMap .loader_container {
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#HudMap .loader {
    border: 5px solid transparent; /* Light grey */
    border-top: 5px solid #e6e6e6; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#HudMap .label_overlay {
    transition: opacity 0.3s;
}
/* MENU */
#HudMap .menu_container {
    position: ;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 6px;
	color:#00b4d5ba;
	border-color:#00b4d5ba;
	font-weight:;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Dark text outline */
    background-color: rgb(39 75 178 / 42%);
	border: 2px outset #00b4d5ba;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	-webkit-box-shadow: 0px 0px 17px 4px #2d5468a2; 
    box-shadow: 0px 0px 17px 4px #2d5468a2;
	z-index:399;
	height:min-content;margin-right:-25px;
}
#HudMap #menu_interior{
	border: 2px inset #00b4d5ba;
    padding: 2px;
    resize: both;
    overflow-y: auto;
	overflow-x:hidden;
    margin: 0px;
    height: 186px;
	max-width:10px;
	max-height:10px;
    width: 211px;
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	transition: max-height 1.3s ease-out 0.4s, max-width 1.3s;
	
}
#HudMap #menu_interior:hover{
	max-width:212px;
	max-height:415px;
}
/* Style for the scrollbar thumb (dragging handle) */
#HudMap #menu_interior::-webkit-scrollbar-thumb {
    background-color: #00b4d5ba; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius for the scrollbar thumb */
}
/* Style for the scrollbar track (background) */
#HudMap #menu_interior::-webkit-scrollbar-track {
    background-color: rgb(39 75 178 / 47%); /* Color of the scrollbar track */
    border-radius: 8px; /* Border radius for the scrollbar track */
}
/* Optional: Style for the scrollbar arrows (only applicable in WebKit browsers) */
#HudMap #menu_interior::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar arrows */
}
#HudMap #menu_interior select {
    border: 1px solid #00b4d5ba!important;
	margin-top: 4px;
    border-radius: 3px;
    padding: 2px;
    background-color: var(--dropdown-menu-bg-color);
    padding: 4px;
	color: var(--HUD-text-color);
	width:98%;max-width: 98%;
}
/* Dropdown menu style */
#HudMap #menu_interior select option {
    background-color: var(--dropdown-menu-bg-color) !important;
    color: var(--dropdown-menu-text-color) !important;
}
#HudMap #menu_interior input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    font-size: 2rem;
    padding: 1px;
    border: 3px solid #00b4d529;
    border-radius: 50%;
    transition: 0.9s;
    height: 22px;
}
#HudMap #menu_interior input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
    border:1px outset grey;
  border-color:#00b4d5ba;
  background-color: #00b4d5ba;
}
#HudMap #menu_interior input[type="checkbox"]:checked {
	  border-color:#02f50080;
	  transition:0.6s;
  }
#HudMap #menu_interior input[type="checkbox"]:checked::before {
  transform: scale(1);
  border:1px inset grey;
  border-color:#00b4d5ba;
  background-color: #0e606eba;
}
#HudMap #menu_interior input[type="checkbox"]:hover {
  background-color: #ff000057;
  transition:0.6s;
}
#HudMap #menu_interior::-webkit-scrollbar {
	max-width: 6px;
    min-height: 6px;
    max-height: 6px;
    background-color:rgb(39 75 178 / 47%);
    outline: 0px;
    border: 2px inset #00b4d5ba;
}
#HudMap #menu_interior::-webkit-scrollbar-corner {
	background-color: #00b4d5ba;}/*var(--scrollbar-bg-color);}*/
#HudMap #menu_interior::-webkit-scrollbar-track {}
#HudMap #menu_interior::-webkit-scrollbar-thumb {
    color:;
    background-color:var(--scrollbar-thumb-bg-color);
    border: 1px solid var(--scrollbar-thumb-border-color);
    border-style: var(--scrollbar-thumb-border-style);
    border-radius: var(--scrollbar-thumb-border-radius);
}
#HudMap #menu_interior::-webkit-resizer{
	color: black;
    background-color: #00b4d5ba;
    border-width: 1px;
    min-width: 12px;
    max-width: 12px;
    border-color: #03a9f4a1;
    border-top: 4px double #00f6ff96;
    border-left: 4px double #00f6ff96;
    border-right-style: dotted;
    border-bottom: 10px ridge #5da3a573;
    border-radius: 0%;
}
#HudMap .toggle_section {
    width: 180px;
}
#HudMap .floatable_section {
    display: flex; /* Change to inline-block to allow elements to be positioned horizontally */
    margin-right: 2px;
    vertical-align: middle; /* Align elements vertically */
}
#HudMap .floatable_section input[type="checkbox"] {
    vertical-align: middle; /* Align the checkbox with the label */
    margin-right: 5px; /* Add some space between the checkbox and label */
}
#HudMap .floatable_section label {
    vertical-align: middle; /* Align the label with the checkbox */
    margin-bottom: 0; /* Remove any bottom margin */
}
#HudMap .full-width {
    float: none;
    display: inline-block;
}
#HudMap .hidden_copyable {
    position: fixed;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    color: transparent;
}
#HudMap .menu_full_width {
    display: block;
}
#HudMap .dropdown_label {
    margin-bottom: 4px;
    font-size: 1.1em;
}
#HudMap .menu_section {

}
#HudMap .menu_section > * {
    margin-bottom: 2px;
}
#HudMap select {
    padding: 4px 10px 4px 10px;
    font-size: 1em;
}
#HudMap button#waypoint_copy_button {
    background-color: inherit;
	color: #03A9F4;
    width: 100%;
    padding: 5px;
    box-shadow: none;
    border: solid 2px #03A9F4;
    display: none;
}
#HudMap button#waypoint_copy_button:hover {
	color: #091c46;
	font-weight:bold;
	background-color: rgb(39 108 141);
}
#HudMap button#waypoint_copy_button.selected {
    background-color: rgb(39 108 141);
}
#HudMap .visible {
    display: block !important;
}
#HudMap button#waypoint_copy_button.hidden {
	height:0px;
	display: none !important;
}
#HudMap #creature_image_container {
    display: none;
    /* width: 100%; */
}
#HudMap #creature_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 100%;
    max-width: 250px;
}
/*   Popup   */
#HudMap .leaflet-popup-content {
    margin: 3px 10px 3px 10px !important;
    font-size: 1em;
}

/*   


LEAFLET STYLES



  */
  /* required styles */

#HudMap .leaflet-pane,
#HudMap .leaflet-tile,
#HudMap .leaflet-marker-icon,
#HudMap .leaflet-marker-shadow,
#HudMap .leaflet-tile-container,
#HudMap .leaflet-pane > svg,
#HudMap .leaflet-pane > canvas,
#HudMap .leaflet-zoom-box,
#HudMap .leaflet-image-layer,
#HudMap .leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
#HudMap .leaflet-container {
	overflow: hidden;
	}
#HudMap .leaflet-tile,
#HudMap .leaflet-marker-icon,
#HudMap .leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Prevents IE11 from highlighting tiles in blue */
#HudMap .leaflet-tile::selection {
	background: transparent;
}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
#HudMap .leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
#HudMap .leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: ;
	}
#HudMap .leaflet-marker-icon,
#HudMap .leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
#HudMap .leaflet-container .leaflet-overlay-pane svg,
#HudMap .leaflet-container .leaflet-marker-pane img,
#HudMap .leaflet-container .leaflet-shadow-pane img,
#HudMap .leaflet-container .leaflet-tile-pane img,
#HudMap .leaflet-container img.leaflet-image-layer,
#HudMap .leaflet-container .leaflet-tile {
	max-width: none !important;
	max-height: none !important;
	}

#HudMap .leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
	}
#HudMap .leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	/* Fallback for FF which doesn't support pinch-zoom */
	touch-action: none;
	touch-action: pinch-zoom;
}
#HudMap .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}
#HudMap .leaflet-container {
	-webkit-tap-highlight-color: transparent;
}
#HudMap .leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
#HudMap .leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
#HudMap .leaflet-tile-loaded {
	visibility: inherit;
	}
#HudMap .leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
#HudMap .leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

#HudMap .leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-tooltip-pane   { z-index: 650; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 0px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 4px;
	}
.leaflet-left .leaflet-control {
	margin-left: 4px;
	}
.leaflet-right .leaflet-control {
	margin-right: 2px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity;
	}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:         grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:         grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;

	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}

/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}

/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-style:inset;
	border-radius: 30%;
	border-width:4px;
	padding:2px;
	
	}
.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #0b3966;
    border-bottom: 2px solid #031a20;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #338daa;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #0c92d2b3;
	color:#3aff00b3;
	border-color:#3aff00b3;
	}
.leaflet-bar a:active {
    transform: translateY(1px); /* Move the button down by 1px when active */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); /* Add an inset shadow for the pushed-in effect */
}
.leaflet-bar a:first-child {
	border-radius: 50%;
	border-top-left-radius: ;

	}
.leaflet-bar a:last-child {
	border-radius: 50%;
	border-bottom-width:2px;
	}
.leaflet-bar a:last-child:hover{
	background-color: #0c92d2b3;
	color:#ff2f00;
	border-color:#ff2f00;
}
.leaflet-bar a.leaflet-disabled:hover{	border-color:transparent;background-color: #112939;
	color: #464545;}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #112939;
	color: #464545;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	border-radius: 50%;
	border-top-left-radius: ;

	}
.leaflet-touch .leaflet-bar a:last-child {
	border-radius: 50%;
	border-bottom-left-radius: ;
	border-bottom-right-radius: ;
	}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	}


/* layers control */
.leaflet-zoom-animated{

}

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

/* Default icon URLs */
.leaflet-default-icon-path {
	background-image: url(images/marker-icon.png);
	}

/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 4px inset rgba(0,0,0,0.2);
	background-color:rgb(7 27 83 / 86%);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	-ms-zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}

/* div icon */
.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}

/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
	}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
	}

/* Directions */

.leaflet-tooltip-bottom {
	margin-top: 6px;
}
.leaflet-tooltip-top {
	margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
	}
.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
	}
.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
	}
.leaflet-tooltip-left {
	margin-left: -6px;
}
.leaflet-tooltip-right {
	margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
	}
.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
	}
.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
	}
