    body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      background-color: #2c2c2c; /* Dark grey background */
      height: ;
      color: #f0f0f0; 
      font-family: Arial, sans-serif;
	  -ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;
    }
	::-webkit-scrollbar {
		display: none;
	}
	/* Scrollbar track (the background part) */
	/*------------------------------------------*/
	::-webkit-scrollbar-track {
		background-color: #f1f1f1;
		border-radius: 10px;
	}

	/* Scrollbar thumb (the draggable part) */
	::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 10px;
	}

	/* On hover */
	::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}

	/* Change the width of the scrollbar */
	::-webkit-scrollbar {
		width: 8px;  /* Adjust the width as needed */
	}
	h2 {
		margin: 0px;
		max-height: 42px;
		margin-top: 4px;
	}
/*------------------------------------------*/

/* Styling for the resizable container */
.resizable {
  width: 98%;  /* Adjust width as needed */
  border: 1px solid #ccc;
  position: relative;
  overflow: auto;
  min-height: 25px;  /* Add a minimum height */
}

/* Resizer area */
.resizer {
  width: 100%;  /* Spans the entire width */
  height: 25px;  /* Adjust the height of the resizer */
  background-color: rgb(0 0 0 / 57%);  /* Visible resizer bar */
  cursor: ns-resize;  /* Vertical resize cursor */
  position: absolute;
  bottom: 0;  /* Position at the bottom of the resizable container */
}

/* Add hover effect for resizer */
.resizer:hover {
  background-color: rgba(0, 0, 0, 0.3);  /* Highlight resizer on hover */
}

	#Settingstoggle {
		font-size: 40px;
		font-family: system-ui;
		text-align: center;  /* Center the text horizontally */
		display: flex;  /* Use flexbox for centering */
		justify-content: center;  /* Center horizontally */
		align-items: center;  /* Center vertically */
		margin: auto;
		padding: 0px;
		width: 43px;
		height: 43px;
		color: #878787;
		background-color: #688a6a30;
		border: 3px outset #c8c4c445;
		border-radius: 50%;
		outline-color: #d03b3b;
		opacity: 0.59;
	}
	.nav-bar {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		background-color: #232222db;
		padding: 3px;
		border: 3px inset black;
		width: 100vw;
	}

	.button {
		background: linear-gradient(135deg, #003333, #006666); /* Gradient matching title background */
		border: 3px solid #00cccc; /* Border color matching title */
		color: #00e6e6; /* Text color matching title */
		padding: 10px 20px; /* Larger padding for better aesthetics */
		margin: 5px; /* Adjusted margin */
		cursor: pointer;
		font-size: 1.2vw; /* Responsive font size */
		border-radius: 10px; /* Matching the border-radius of the title */
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle text shadow for depth */
		transition: background 0.3s, border-color 0.3s, color 0.3s; /* Smooth transitions */
	}

	.button:hover {
		background: linear-gradient(135deg, #006666, #003333); /* Inverted gradient on hover */
		border-color: #00e6e6; /* Lighter border color on hover */
		color: #003333; /* Darker text color on hover */
	}

	.button:focus {
		outline: none; /* Remove default outline */
	}

	.button.disabled,
	.button:disabled {
		background: #004d4d; /* Darker background for disabled state */
		border: 3px solid #004d4d; /* Matching border for disabled state */
		color: #7f8c8d; /* Lighter text color for better readability */
		cursor: not-allowed; /* Indicate that the button is not interactive */
		text-shadow: none; /* Remove text shadow for a subdued appearance */
	}

	.button.disabled:hover,
	.button:disabled:hover {
		background: #004d4d; /* No change on hover for disabled state */
		border-color: #004d4d; /* No change on hover for disabled state */
		color: #7f8c8d; /* No change on hover for disabled state */
	}

	#battlewrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		background-color: #2c2c2c;
		max-height: 97vh;
		width: 98vw;
		color: #f0f0f0;
		font-family: Arial, sans-serif;
		border-bottom: 6px ridge #444;
		resize: vertical;
		overflow-y: auto;
	}
	#wrapper {
		border: 3px ridge teal;
		background-color: #0d4b0d73;
		padding: 4px;
		width: 99%;
		height: 101%;
	}
	#secondwrapper {
		margin-top: 0px;
		display: flex;
		justify-content: space-between;
		align-items: ;
		flex-direction: row;
		background-color: #2c2c2c;
		color: #f0f0f0;
		font-family: Arial, sans-serif;
		width: 98vw;
		max-width: 98vw;
	}
	#thirdwrapper {
		position: fixed;
		right: 9px;
		margin-top: 0px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		background-color: #444444e0;
		color: #f0f0f04a;
		font-family: Arial, sans-serif;
		width: fit-content;
	}
	#thirdwrapper::hover {
		color: #f0f0f0ba;
		background-color: #444444f2;
	}
	#pagetitle {
		font-size: 8vw; /* Font size is now based on viewport width */
		font-family: 'Press Start 2P', sans-serif;
		color: #00e6e6;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
		border: 0.4vw solid #00cccc; /* Adjusting border width based on viewport */
		background: linear-gradient(135deg, #003333, #006666);
		padding: 1vw;
		width: 97.5%;
		min-width: 95vw;
		height: 8vw;
		margin: auto;
		margin-left: -6px;
		margin-top: -7px;
		border-radius: 1vw; /* Rounded corners scale with the viewport */
		text-align: center;
		display: inline-block; /* Allows the element to shrink and grow based on content */
	}


	/* Ensure to include the custom font */
	@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

	#boss {
		width: 100px;
		height: 100px;
		background-image: url(images/creature-1.png);
		background-size: 96%;
		margin: auto;
		margin-bottom: 10px;
		position: relative;
		padding: 0;
		border: 3px solid transparent;
		border-color: rgb(3 3 3 / 0%);
		border-radius: 50%;
		z-index: 6;
	}

    #boss-info {
		text-align: center;
		font-weight: bold;
		margin: auto;
		margin-bottom: -7px;
		padding: 4px;
		padding-bottom: 0px;
		padding-top: 0px;
		color: #b23f1e;
		background-color: #14141447;
		width: fit-content;
		position: relative;
		z-index: 10;
	}

	#fileInputContainer {
		position: fixed;
		bottom: 11px;
		display: flex;
		flex-direction: row;
		margin-bottom: 0px;
		text-align: center;
		overflow: hidden;
		height: 44px;
		width: 426px;
		min-height: 44px;
		min-width: 40px;
		max-height: 44px;
		max-width: fit-content;
		resize: both;
		border: 7px outset #000000c2;
		border-radius: 40%;
		color: #222;
		z-index: 10;
	}
    input[type="file"] {
		background-color: #4d4d4d;
		color: #222;
		padding: 7px;
		border: outset;
		border-color: #494545;
		cursor: pointer;
		border-radius: 5px;
	}
	#customFileButton {
		font-size: 16px;
		word-break: keep-all;
		background-color: #688a6a30;
		border: 2px solid #c8c4c445;
		border-radius: 5px;
		color: #1e73a0;
		cursor: pointer;
		outline: none;
		overflow: hidden;
		min-width: 69px;
	}

	#customFileButton:hover {
		background-color: #78a77830;
	}

	#fileName {
		margin-left: 10px;
		color: #878787;
	}
	button {
		background-color: #444;
		font-weight: bold;
		color: #16afea;
	}
	button::hover {
		background-color: #555;
		font-weight: bold;
		color: #16afea;
	}
    #loadPlayersButton {
      	font-size: 16px;
		word-break: keep-all;
		background-color: #688a6a30;
		border: 2px solid #c8c4c445;
		border-radius: 5px;
		color: #16afea;
		cursor: pointer;
		outline: none;
		overflow: hidden;
		min-width: 69px;
		max-width: 55px;
    }
	#loadPlayersButton::hover {
		background-color: #688a6a30;
		font-weight: bold;
		color: #1e73a0;
	}
    #players {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    #defeatedplayers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
	  width: 65%;
	  opacity:0.3;
    }
    .player-container {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  border: 2px solid transparent;/*#4caf50;  Default green border */
	  padding: 5px;
	  margin: 10px;
	  border-radius: 10px;
	  transition: border-color 0.3s ease; /* Smooth color transition */
	}


    .player {
      width: 60px;
      height: 60px;
      background-size: cover;
      margin-bottom: 5px;
      border-radius: 50%;
      border: 2px solid transparent;/*#4caf50;  Green border around player image */
    }

    .player-name {
      font-size: 12px;
      text-align: center;
      color: #f0f0f0; /* Light text color */
    }
	.player-hp {
	  font-size: 12px;
	  margin-top: 5px;
	  color: #f0f0f0; /* Light text color */
	}
	
	#playerStats {
	  margin-top: 20px;
	  padding: 10px;
	  border: 1px solid #ccc;
	  background-color: inherit;
	}

	.player-stats {
	  margin-bottom: 10px;
	  padding: 5px;
	  border: 1px solid #ddd;
	  border-radius: 5px;
	}

	.player-stats div {
	  margin: 2px 0;
	}
	#systemMessages {
		margin-top: -1px;
		padding: 10px;
		border: 1px solid #4caf50;
		border-radius: 5px;
		background-color: black;
		color: green;
		font-family: lucida console;
		max-height: 200px;
		min-height: 200px;
		overflow-y: auto;
		resize: vertical;
		width: 63%;
    }
	div#loot {
		position: absolute;
		right: 0;
		font-size: 14px;
		font-family: fangsong;
		font-weight: bold;
		BORDER: 5PX inset #4e5255;
		outline: outset #8039ffe6;
		background-color: #262626;
		color: #6a7375;
		line-height: 0.2;
		padding: 4px;
		margin: 0px;
		margin-left: auto;
	}